@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Products List";
}

<h4>@ViewData["Title"]</h4>
<hr />

<vc:summary></vc:summary>

<p>
    <a class="btn btn-primary" asp-action="Create">New Product</a>
</p>

<partial name="_ProductList" />
