@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Products";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">New Product</a>
</p>

<partial name="_ProductList" />
