@model ErrorViewModel

@{
    ViewData["Title"] = Model.Title;
}

@{
    if (Model == null)
    {
        <div>
            <h2>Ooops! Something went wrong. Come back later.</h2>
        </div>
    }
    else
    {
        <h1>@Html.Raw(Model.Title)</h1>
        <h2 class="text-danger">@Model.Message</h2>
    }
}
